<div class="container">
  <div class="row profile-body">
    <!-- middle wrapper start -->
    <div class="col-md-8 col-xl-8 middle-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="card rounded">
            <div class="card-header">
              <div class="card-body">
                <p class="mb-3 tx-14"><strong><%= @question.title %>?</strong></p>
                <p class="pt-2 pl-2">Answers <span class="ml-1"><%= @question.answers.count %></span></p>
              </div>
              <div class="card-footer">
                <div class="d-flex post-actions">
                  <!-- answer form -->
                  <%= render "answers/form" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="pl-1">Answers</h3>
      <% @question.answers.each do |answer|%>
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="card rounded">
              <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="ml-2">
                      <p><%= answer.user.name if answer.user %></p>
                      <p class="tx-11 text-muted"><%= time_ago_in_words(answer.created_at) %> ago</p>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <p class="mb-3 tx-14"><%= answer.title %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- middle wrapper end -->
    <!-- right wrapper start -->
    <%= render "answers/topics" %>
    <!-- right wrapper end -->
  </div>
</div>
