<div class="container">
  <div class="row profile-body">
    <!-- middle wrapper start -->
    <div class="col-md-8 col-xl-8 middle-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="card rounded">
            <div class="card-header">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <img class="img-xs rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                  <div class="ml-2">
                    <p><%= @question.user.name ? @question.user.name : @question.user.email %></p>
                    <p class="tx-11 text-muted"><%= time_ago_in_words(@question.created_at) %> ago </p>
                  </div>
                </div>
                <div class="dropdown">
                  <button class="btn p-0" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal icon-lg pb-3px">
                      <circle cx="12" cy="12" r="1"></circle>
                      <circle cx="19" cy="12" r="1"></circle>
                      <circle cx="5" cy="12" r="1"></circle>
                    </svg>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <%= link_to edit_question_path(@question), class: "dropdown-item d-flex align-items-center" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-right-up icon-sm mr-2">
                        <polyline points="10 9 15 4 20 9"></polyline>
                        <path d="M4 20h7a4 4 0 0 0 4-4V4"></path>
                      </svg> <span class="">Edit</span>
                    <% end %>
                    <%= button_to question_path(@question), method: :delete, class: "dropdown-item d-flex align-items-center" do %>
                      <i class="fa fa-trash"></i>
                      <span class="">Delete</span>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="mb-3 tx-14"><strong><%= @question.title %>?</strong></p>
                <p class="pt-2 pl-2">Answers <span class="ml-1"><%= @question.answers.count %></span></p>

              </div>
              <div class="card-footer">
                <div class="d-flex post-actions">
                  <!-- answer form -->
                  <%= render "answers/form" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="pl-1">Answers</h3>
      <% @question.answers.each do |answer|%>
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="card rounded">
              <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="ml-2">
                      <p><%= answer.user.name if answer.user %></p>
                      <p class="tx-11 text-muted"><%= answer.created_at %></p>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <p class="mb-3 tx-14"><%= answer.title %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- middle wrapper end -->
    <!-- right wrapper start -->
    <div class="d-none d-xl-block col-xl-4 right-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="card rounded">
            <div class="card-body">
              <h6 class="card-title">Suggestions For You</h6>
              <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                <div class="d-flex align-items-center hover-pointer">
                  <img class="img-xs rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                  <div class="ml-2">
                    <p class="tx-11 text-muted">Developer</p>
                  </div>
                </div>
                <button class="btn btn-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus" data-toggle="tooltip" title="" data-original-title="Connect">
                    <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                    <circle cx="8.5" cy="7" r="4"></circle>
                    <line x1="20" y1="8" x2="20" y2="14"></line>
                    <line x1="23" y1="11" x2="17" y2="11"></line>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right wrapper end -->
  </div>
</div>
