<%= form_for([@question, @current_user.answers.build]) do |form| %>
  <div class="form-group">
    <%= form.label "Content" %>
    <%= form.rich_text_area :title %>
    <%= form.hidden_field :question_id, value: @question.id %>
  </div>
  <%= form.button :submit, class: "btn btn-primary"  %>
<% end %>
