<div class="container">
  <div class="row profile-body">
    <!-- right wrapper start -->
    <div class="d-none d-xl-block col-xl-12 right-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="card rounded">
            <div class="card-body">
              <h6 class="card-title">Categories</h6>
              <% @categories.each do |category| %>
                <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                  <div class="d-flex align-items-center hover-pointer">
                    <img class="img-xs rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                    <div class="ml-2">
                      <p><%= category.name %></p>
                    </div>
                  </div>
                  <% if @current_user.subscribed_to_question?(category) %>
                    <%= form_with(model: @current_user.questions_following.find_by(followed_id: category.id),
             html: { method: :delete }, local: true) do |f| %>
                      <%= button_tag type: 'submit', class: "btn text-danger btn-icon", title: "UnFollow" do %>
                        unfollow
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= form_with(model: @current_user.questions_following.build, local: true) do |f| %>
                      <div><%= hidden_field_tag :followed_id, category.id %></div>
                      <%= button_tag type: 'submit', class: "btn btn-icon text-success", title: "Follow" do %>
                        follow
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right wrapper end -->
  </div>
</div>
